*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    min-height: 100vh;
}

.sidebar{
    background-color: white;
    width: 260px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}

.horizontal-line{
  background: #E7EDF3;
  width: 238px;
  height: 1px;
  margin-top: 12px;
}

.main-content{
    background-color: #F4F7FE;
    flex-grow: 1;
}
  
  .sidebar .header .illustration {
    display: flex;
    justify-content: center; /* Pusatkan secara vertikal */
    align-items: center;
    width: 100px; /* Sesuaikan lebar elemen sesuai kebutuhan */
    height: 100px; /* Sesuaikan tinggi elemen sesuai kebutuhan */
    overflow: hidden; /* Pastikan gambar bundar tidak keluar dari elemen */
    margin: 0 auto; /* Memusatkan secara horizontal */
    box-sizing: border-box;
  }

  .sidebar .header .illustration img {
    border-radius: 30%; /* Membuat foto menjadi bundar */
    max-width: 75%; /* Pastikan gambar tidak melebihi lebar elemen parent */
    height: auto; /* Biarkan tinggi gambar disesuaikan secara proporsional */
    display: block; /* Hilangkan jarak tambahan di sekitar gambar */
  }

  .sidebar .main .list-item .description-header {
    color: #8FA6C0;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 5px;
    display: inline-block;
    vertical-align: middle;
    transition: color ease-in .2s; /* Menambahkan transition untuk perubahan warna font */
  }
  
  .sidebar .main .list-item .icon {
    margin: 13.36px 19px 10.36px 15px;
    color: black;
    display: inline-block;
    vertical-align: middle;
    transition: color ease-in .2s; /* Menambahkan transition untuk perubahan warna ikon */
  }

  .sidebar .main{
    margin-top: 100px;
  }
  
  .sidebar .main .list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 238px;
    box-sizing: border-box;
    transition: all ease-in .2s;
    margin-top: 6px;
    margin-left: 7px;
  }
  
  .sidebar .main .list-item:hover {
    background: #4da4f7;
    font-weight: bold;
    transition: all ease-in .2s, opacity ease-in .2s;
    border-radius: 10px;
  }
  
  .sidebar .main .list-item:hover .description-header {
    color: white;
    font-weight: Medium;
  }
  
  .sidebar .main .list-item:hover .icon {
    filter: brightness(0) invert(1); /* Mengubah warna ikon menjadi putih saat di hover */
  }

  .horizontal-line1{
    background: #E7EDF3;
    width: 238px;
    height: 1px;
    margin-top: 40px;
  }

  .sidebar-bawah{
    color: #8FA6C0;
    font-size: 14px;
    font-weight: 600;
    word-wrap: break-word;
    margin-top: 40px;
    margin-left: 19px;
  }

  .main-content .intro{
    font-family: 'DM Sans', sans-serif;
    color: #B0B3CD;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.16px;
    text-transform: capitalize;
    margin-left: 30px;
    margin-top: 40px;
  }

  .main-content .event{
    color: #141199;
    font-family: 'DM Sans';
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.32px;
    text-transform: capitalize;
    margin-left: 30px;
    margin-top: -45px;
    font-weight: bold;
  }

  .gambarproduk img {
    border-radius: 20px;
    margin-top: 30px;
    margin-left: 30px;
  } 

  .search-box {
    display: flex;
    left: 40px;
  }

  .notif {
    display: flex;
    position: absolute;
    /* top: px; Sesuaikan nilai negatif sesuai kebutuhan untuk mengangkat notifikasi ke atas */
    right: 37vh; 
     /* Ganti warna sesuai kebutuhan */
  }

  .bulan{
    position: absolute;
    right: 32vh;
    display: flex;
  }

  .profile{
    display: flex;
    position: absolute;
    right: 24vh;
  }
  
  
  /* .search-box {
    display: flex;
  } */
  
  .rectangle {
    border-radius: 30px;
    background: #FFF;
    box-shadow: 14px 17px 40px 4px rgba(112, 144, 176, 0.08);
    width: 420px;
    height: 55px;
    flex-shrink: 0;
    margin-left: 630px;
  }

  .custom-icon{
    margin-top: -5px;
  }

  description-header a {
    color: #8FA6C0; /* Atur warna teks sesuai kebutuhan */
  }

  .box-1 {
    transform: translateX(-65px); /* Sesuaikan nilai -20px sesuai dengan kebutuhan */
    
  }

  .custom-icon{
    transform: translateY(30px, 50px); /* Sesuaikan nilai -20px sesuai dengan kebutuhan */
  }

  .rectangle-2 {
    font-family: 'DM Sans';
    font-weight: bold;
    /* border: 1px solid #ddd; */
    padding: 15px;
    margin: 20px;
    border-radius: 5px;
    color: #2B3674;
    background-color: white;
    position: relative;
    width: 70%;
  }

  .bunder {
    position: absolute;
    /* right: 23vw; Sesuaikan dengan jarak geser ke kanan yang diinginkan */
    top: 18px; /* Sesuaikan dengan jarak naik ke atas yang diinginkan */
    width: 36px;
    height: 34px;
    margin-left: 48vw;
    top: 18px;
  }

  /* .scroll{
    margin-left: 250px;
  } */

  .rectangle-2 p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .rectangle-2 table {
    border-collapse: collapse;
    width: 100%;
    /* width: 85%; */
  }

  .rectangle-2 th{
    padding: 8px;
    text-align: left;
    font-size: 16px;
    color: #A3AED0;
  }
    
  .rectangle-2 td {
    /* border: 1px solid #ddd; */
    padding: 8px;
    text-align: left;
    font-size: 16px;
  }

  .rectangle-2 tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .emot{
    top: -20px;
  }

  /* table {
    border-collapse: collapse;
    width: 90%;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    color: black;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  } */



/* Warna teks saat dihover, sesuai kebutuhan */


  

  /* .rectangle {
    border-radius: 30px;
    background: #FFF;
    box-shadow: 14px 17px 40px 4px rgba(112, 144, 176, 0.08);
    width: 420px;
    height: 55px;
    flex-shrink: 0;
    margin-left: 630px;
  } */

  /* .search-container {
    width: 50px;
    height: 50px;
    background-color: #2ecc71; /* Green color, you can change it */
    /* display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }
  
  .search-container i {
    color: white;
    font-size: 24px;
  } */
  