@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik One');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


#root{
  width: 100%;
  height: 100%;
}

/* html{
  overflow: hidden;
}

@media (max-width:1024px){
  html{
    overflow: auto;
  }
} */

p{
  margin: 0;
}

.res-atas{
  background: linear-gradient(to right, #2F86EE 90%, #00B8FF 100%);
}

.res-bawah{
  background-color: #fff;
}

/* body {
  background: linear-gradient(to right, #2F86EE 45%, #00B8FF 50%, #fff 50%);
  display: flex;
  align-items: flex-start;
} */

.text-wrapper {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  word-wrap: break-word;
  cursor: pointer;
}

.vertical-line {
  height: 42px;
  border-left: 1px solid white;
  margin: 0 -11px;
}

.text-wrapper-1 {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Rubik One', sans-serif;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  font-weight: bold;
}

.text-wrapper-2 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  color: #ffffff;
  font-size: 10.5px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.business-education {
  width: 49px;
  height: 49px;
}

.rectanglelogin {
  background-color: white;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
  margin: auto;
}

.mulai-aksimu-untuk {
  text-align: center;
  font-family: "Inter-Bold", Helvetica;
  font-weight: bold;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.span {
  font-weight: bold;
}

.text-wrapper-8 {
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 1000;
}

.text-wrapper-9 {
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
}

.element {
  width: 80%; 
}

.text-wrapper-10 {
  color: black;
  font-size: 24px;
  font-family: 'Rubik One', sans-serif;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  font-weight: bold;
  word-wrap: break-word;
}

.vertical-line-1 {
  height: 60px;
  border-left: 1px solid black;
  margin: 0 -15px;
}

.text-wrapper-11 {
  font-family: "Quicksand-Medium", Helvetica;
  font-weight: 500;
  color: black;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.img {
  width: 70px;
  height: 70px;
}

.text-wrapper-12 {
  font-family: "Lexend-SemiBold", Helvetica;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.70);;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.overlap-5 {
  font-size: 24px;
  border-radius: 5px;
  border: #fff 1px solid;
  color: black;
  background-color: transparent;
  border-color: #7f7f7f;
  letter-spacing: 0;
  line-height: normal;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.text-wrapper-13 {
  font-family: "Tahoma-Regular", Helvetica;
  font-weight: 400;
  color: #00000080;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.belum-punya-akun {
  font-family: "Tahoma-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.text-wrapper-14 {
  color: #00000080;
}

.text-wrapper-15 {
  font-family: "Tahoma-Bold", Helvetica;
  font-weight: 700;
  color: #2D54AD;
  cursor: pointer;
}

.overlap-6 {
  background-color: #0082FF;
  border-radius: 5px;
}

.text-wrapper-16 {
  font-family: "Tahoma-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.overlap-7 {
  position: relative;
  width: 616px;
  height: 48px;
  border-radius: 5px;
  border: 1px solid;
  border-color: #00000080;
}

.vector-2 {
  height: 9px;
  width: 20px;
  cursor: pointer;
  align-self: flex-end;
  position: relative;
  margin-top: -70px;
  margin-right: 15px;
}

.login-button {
  font-family: "Tahoma-Regular", Helvetica;
  font-weight: 400;
  color: white;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  background-color: #0082FF;
  border-radius: 5px;
}

.login-button:hover {
  background-color: #2F86EE;
  color: #ffffff;
}

/* CSS for the password-toggle */
.password-toggle {
  position: relative;
}

.password-toggle i {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

/* Style for the eye and eye-slash icons */
.password-toggle i.fa-eye,
.password-toggle i.fa-eye-slash {
  font-size: 18px;
  color: #777; /* Adjust the color to your preference */
}

#auth{
  color: #2F86EE;
}

.shadow{
  box-shadow: 12px 0 12px rgba(0, 0, 0, 0.1), 0 0px 0px rgba(0, 0, 0, 0.1);
}